<div class="container d-flex justify-content-center">
    <div class="col-md-6 mt-5 mb-5 ">
        <div class="row ">
            <div class="col-md-10">
                <h1 class="text-center">Cadastro Serviço</h1>

                <div class="form-group">
                    <label for="nome">Serviço</label>
                    <input [(ngModel)]='cadServico.tipoServico' class="form-control" type="text" name="nome" id="nome"
                        placeholder="Insira o tipo de serviço">
                </div>

                <div class="form-group">
                    <label for="usuario">Valor Hora</label>
                    <input [(ngModel)]='cadServico.valorHora' class="form-control" type="text" name="usuario" id="usuario"
                        placeholder="Insira o valor da hora de serviço">
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-outline-success mx-3" (click)='cadastrarServico()'>Cadastrar</button>
                    <button type="submit" class="btn btn-outline-danger" routerLink='/pagina-inicial'>Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>